@import '../libs/variables.scss';
.navbar {
  background-color: $blue;
  margin-bottom: 2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 2px $blue;
  .logo {
    color: $white; /* White text */
    font-weight: 900;
    text-transform: uppercase;
    font-family: fantasy;
  }
  .link {
    color: $white; /* White text */
    font-size: 1rem;

    &:hover {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
  .active {
    color: darken($color: $white, $amount: 70%);
  }
}
